.footer__column_content_copyright {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-basis: 711px;
}

.footer__column_content_copyright:nth-of-type(n) {
  margin-right: 109px;
}

