.table {
  width: 1100px;

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.table:nth-child(n) {
  margin-bottom: 60px;
  margin-bottom: 100px;
}
