.footer__column_content_copyright {
  min-height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-basis: 711px;
}

.footer__column_content_copyright:nth-of-type(n) {
  margin-right: 150px;
}

